#writerUnderLine {
	width: 100%;
	height: 1px;
	border-top: 1px dotted gray;
	margin: 5px 0 20px 0;
	color: grey;
}

/* 좌측라인  */
.album-folder-group{
	font-size: 12px;
}

.album-folder-group img{
	width: 20px;
	height: auto;
}

.album-folder-span {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.album-folder-span span{
	margin-left: 10px;
}

.album-profile-username{
	flex: 1;
  color: #0f1b5c;
	height: 20px;
}

.album-dot{
	color: #3b7ada;
	margin-top: 160px;
}

/* 센터라인 */
.album-container{
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px dotted lightgray;
}

.album-title{
  border-top: 1px solid #9e9c9c;
  border-bottom: 1px solid lightgrey;
  background-color: #e6e6e6;
  width: 100%;
  hight: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.album-wd{
	width: 100%;
}

.album-writer{
	color: darkblue;
	font-size: 12px;
	padding-left: 12px;
}

.album-date{
	color: gray;
	font-size: 10px;
	padding-left: 10px;
}

.album-images {
  display: flex; 
  align-items: center;
  margin-top: 20px;
}

.album-images img {
	min-width: 500px;
	height: auto;
  max-width: 500px; 
  display: block;
  margin: 0 auto;
}

.album-content{
	margin-top: 20px;
	padding-left: 10px;
	width: 100%;
	font-size: 12px;
}


