@charset "UTF-8";

#btn-write-diary{
	margin-bottom : 5px;
	margin-left:auto;
}

.diary {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.diary-date{
	text-align:center;
	font-size:15px;
	border-top: 1px solid grey;
	border-bottom : 1px solid grey;
	background-color : #e6e6e6;
	
}
.diary-content{
	padding : 5px;
	border-bottom : 0.5px solid darkgrey;
}

.diary-cmt-content li{
  font-size: 12px;
  border-bottom:  0.5px solid darkgrey;
  padding: 5px;
  
}

.diary-ul{
	list-style-type: none;
	padding-inline-start: 5px;
}

.diary-cmt-info {
	color: black;
	font-weight: bold;
	margin-left: 20px;
}
.divForBtnDiary{
	margin : 2px;
}