@charset "UTF-8";

.divProduct {
	width:225px; 
	height:225px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 20px;
}
.divNotice {
	text-align: center;
}
.divNoticeBar{
   width: 80%;
    height: 70px;
    background-color: orange;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divNoticeBar span {
   color: white;
   margin: 20px;
   font-weight: bold;
}

.divNoticeBar .noticeNum {
    margin-right: auto; /* 번호는 왼쪽으로 정렬 */
}

.divNoticeBar .noticeTitle {
    /* 제목은 중앙 정렬 */
}

.divNoticeBar .noticeCDate {
    margin-left: auto; /* 등록일은 오른쪽으로 정렬 */
}
.btnNotice {
	width: 70px;
	height: 50px;
}