<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.tjoeun.index.notice.sql.NoticeMapper">

	<insert id="insertNotice" parameterType="map">
		insert into notice(
			writer
		    ,title
		    ,content
		 ) values (
			#{userNickname}
		    ,#{title}
		    ,#{content}
	     )
	</insert>
	
	<select id="selectNotice" resultType="map">
		select
			  seq
			, writer
			, title
			, content
			, substring(create_date,1,10) as date
		from 
			notice
		where
			del_yn != 'Y'
		<if test="seq != null">
			and seq = #{seq}
		</if>
		order by create_date desc
		limit #{limit}
		offset #{offset}
		
	</select>
	
	
	<update id="deleteNotice" parameterType="java.util.List">
		update 
			notice
		set
			del_yn = 'Y'
		where seq in
		<foreach collection="list" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</update>
	
	
	<select id="getTotalPage" resultType="map">
		SELECT count(*) as noticeTotal
		FROM notice
		where 1 = 1
		and del_yn = 'N'
	
	</select>


</mapper>