<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.tjoeun.mnHome.board.sql.BoardMapper">

<insert id="insertBoard" parameterType="map">
	insert into board(
		userNickname
		, title
		, content
	) values(
		#{userNickname}
		, #{title}
		, #{content}
	)
	
</insert>

<update id="updateHit" parameterType="map">
	update board 
	set hits = hits+1
	where seq = #{seq}
	and userNickname = #{userNickname}
</update>


<select id="selectBoardList" parameterType="map" resultType="map">
SELECT 
    seq
  , userNickname
  , title
  , content
  , imagePath
  , hits
  , create_date
  , update_date
  , del_yn
  , openScope
  <![CDATA[ 
  , CASE WHEN TIMESTAMPDIFF(HOUR, update_date, NOW()) <= 24 THEN 1 ELSE 0 END AS newcontent
  ]]>
FROM board
WHERE del_yn = 'N'
  AND openScope = 1
  AND userNickname = #{userNickname}
  <if test="seq != null">
  AND seq = #{seq}
  </if>
ORDER BY seq DESC
LIMIT #{limit}
OFFSET #{offset}

</select>

<select id="getBoardPage" parameterType="map" resultType="map">
		SELECT count(*) as boardTotal
		FROM board
		where 1 = 1
		and del_yn = 'N'
		and openScope = 1
		and userNickname = #{userNickname}
</select>

<update id="deleteBoard" parameterType="java.util.List">
	update
		board
	set
		del_yn = 'Y'
	where seq in
	<foreach collection="list" item="seq" open="(" close=")" separator=",">
			#{seq}
	</foreach>
</update>

<select id="checkFriend" parameterType="map" resultType="int">
SELECT 
    CASE
        WHEN #{friendNickname} IN (
            SELECT 
                CASE
                    WHEN userNickname = #{userNickname} THEN friendNickname
                    ELSE userNickname
                END
            FROM friends
            WHERE (userNickname = #{userNickname} OR friendNickname = #{userNickname})
              AND fStatus = 1
        ) THEN 1
        ELSE 0
    END AS Result;
</select>

<insert id="insertBoardComment" parameterType="map">
	insert into boardCMT (
	boardSeq
	,userNickname
	,content
	,create_date
	,update_date
	,openScope
	) values (
	#{boardSeq}
	,#{userNickname}
	,#{content}
	,current_timestamp()
	,current_timestamp()
	,1
	)
</insert>

<select id="getBoardComment" parameterType="int" resultType="map">
	select seq, userNickname, content,
	DATE_FORMAT(update_date, '%Y.%m.%d %H:%i') as update_date_format 
	from boardCMT 
	where boardSeq=#{boardSeq}
	and openScope=1
	ORDER BY update_date_format DESC;
</select>

<delete id="deleteBoardComment" parameterType="int">
	delete from boardCMT where seq = #{seq};
</delete>

</mapper>