<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.tjoeun.mnHome.setting.sql.SettingMapper">

	<select id="selectSettingUserStorage" parameterType="String" resultType="map">
		SELECT
			userNickname,
			category,
			productName,
			contentPath,
			buy_date,
			allocation
		FROM userStorage
		WHERE 1=1
		AND userNickname = #{value}
	</select>

	<!--
	<select id="selectSettingUserStorage" parameterType="String" resultType="map">
		SELECT
			userNickname,
			category,
			productName,
			contentPath,
			buy_date,
			allocation
		FROM userStorage
		WHERE 1=1
		<if test="userNickname != null">
			AND userNickname = #{value}
		</if>
		</if>
		 allocation = 1 이면 대표미니미로 설정하는것이며, 그외는 0이다.
		<if test="category != null">
			AND category = 'minimi'
			AND allocation = 1
		</if>
	</select>
		 -->

</mapper>