<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.tjoeun.mnHome.setting.sql.SettingMapper">

	<select id="selectSettingUserStorage" parameterType="String" resultType="map">
		SELECT
			userNickname,
			category,
			productName,
			contentPath,
			buy_date,
			allocation
		FROM userStorage
		WHERE 1=1
		AND userNickname = #{value}
	</select>
	
	<update id="updateAllocationOff" parameterType="String">
		UPDATE userStorage
		SET
			allocation = 0
		WHERE
			userNickname = #{userNickname}
		AND
			allocation = 1
	</update>

	<update id="updateAllocationOn" parameterType="map">
		UPDATE userStorage
		SET
			allocation = 1
		WHERE
			userNickname = #{userNickname}
		AND
			productName = #{productName}
	</update>
	
	<select id="selectSearchUser" parameterType="map" resultType="map">
		select
			userEmail
			,userName
		from user
		where 1=1
		<if test="userNickname != null">
			and userNickname = #{userNickname}
		</if>
	</select>
</mapper>