body{
	
}

.findId-title {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.find-tag {
	margin-top: 20px;
}

.find-btn {
	margin-top: 40px;
	text-align: center;
}

.find-btn form{
	display: inline;
}

.find-btn input {
	margin: 0 20px;
	padding: 5px 20px;
}

#passwordMatchMessage{
	font-size : 12px;
}

#btnCancle, #btnSubmit{
	margin: 0 20px;
	padding: 5px 20px;
}

.findId-logo{
	display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-bottom:20px;
}

.pw-group {
	display: flex;
	justify-content: space-between;
}

.pw-left {
	flex: 1;
}

.pw-right {
	flex: 1;
	text-align: right;
	justify-content: center;
}