@charset "UTF-8";

body {
	overflow-y: auto;
	font-family: "Noto Sans KR", sans-serif;
}

body a:hover {
	font-weight: bold;
}

body a {
	text-decoration: none;
}

.board-container{
	margin-top:20px;
	border-top: 1px solid black;
	padding-top: 4px;
}


thead tr:last-child th {
	border-bottom: 1px dotted #000;
	padding-bottom:4px;
}

.th-checkbox{
	width: 25px;
	height: 25px;
}

.th-title{
	width: 300px;
	height: 25px;

}

.th-writer{
	width: 150px;
	height: 25px;
}

.th-view{
	width: 100px;
	height: 25px;
}

.td-checkbox{
	text-align: center;
	height: 25px;
}

.td-title{
	padding-left: 10px;
	font-size: 15px;
	cursor: pointer;
}

.td-writer{
	text-align: center;
	font-size: 15px;
	color: steelblue;
}

.td-view{
	text-align: center;
	font-size: 15px;
}

.board-btn{
	margin-top: 10px;
	text-align: right;
}

.board-pages{
	text-align: center;
}

.board-page{
	font-size: 13px;
	cursor: pointer;
}

.newIcon{
	width:10px;
	height:10px;
}

.photoIcon{
	width:20px;
	height:15px;
}

.comment{
	color:orange;
}

.board-title-container{
	border-bottom: 1px solid black;
	padding-top: 4px;
}

.board-title{
	border:none;
	outline:none;
	width:500px;
	height:50px;
	font-size:20px;
	font-weight:bold;
	 
}

.board-writer{
	border:none;
	outline:none;
	text-align: left;
	font-size: 15px;
	color: steelblue;
	margin-left:10px;
	align-items:center;
}

.board-write-date{
	border:none;
	outline:none;
	float:right;
	text-align:right;
	align-items:center;
}

.btn-right{
	display:flex;
}

.btn-list{
	margin-right:5px;
}

.btn-container{
	display: flex;
	justify-content: space-between;
}

/* boardDetail.jsp */
.board-outer-container{
	border-bottom: 1px solid black;
	padding-top: 4px;
	margin-bottom:5px;
}

.board-detail-title{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
	color: darkblue;
}

.board-write-container{
	padding-bottom:4px;
	display:flex;
	justify-content: space-between;
	align-items:center;
	font-size: 13px;
}

.board-content-container {
	margin-top: 15 0;
	padding-left: 10px;
	border-bottom: 1px dotted gray;
}

.board-comment-write{
	display:flex;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left:none;
	border-right:none;
	font-size: 13px;
	justify-content: space-between;
}

.board-comment-actions {
		
}

.board-comment-edit, .board-comment-delete {
	cursor:pointer
}

.board-comment-delete{
	margin-right:10px;
}

.comment-content-write{
	margin-left:10px;
	margin-right:5px;
	width:410px;
}

.board-comment-container {
	
}

.board-comment{
	display:flex;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom:3px;
	background-color: #E2E2E2;
	align-items:center;
	font-size: 12px;
	justify-content: space-between;
}

.board-comment-writer{
	color:steelblue;
	font-weight: bold;
}

.board-comment-content{
	margin-left:20px;
	margin-right:10px;
}

.board-comment-date{
	right:0;
	font-size:10px;
	color:gray;
}

.board-detail-right{
	display: flex;
  justify-content: flex-end;
}

.comment-content-write{
	margin-left:10px;
	margin-right:5px;
	width:410px;
}

.board-overflow{
	width: 100%;
/* 	max-width: 100%; */
	overflow-x: hidden;
	overflow-y: auto;
}
  
.board-detail-right button {
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.image-container{
	margin-top:10px;
	text-align:center;
	border:1px solid black;
	border-radius:5px;
	
}

.image-container:hover .removeBtn{
	visibility: visible;
	opacity: 1;	
}

.name-container{
	text-align:center;
}

.removeBtn {
   background: url(/resources/images/minihome/deleteIcon.png);
   opacity: 0;
   transition: visibility 0s, opacity 0.5s linear;
   width: 30px;
   height: 28px;
   text-align: center;
   border: none;
   margin: 0 auto;
}
