@charset "UTF-8";


.setting-menu-title{
	margin-block-start: 0px;
    margin-block-end: 0px;
    color:#369;
    font-weight:bold;
    padding : 1px;
}

.setting-menu-list{
	margin-block-start: 0px;
    margin-block-end: 0px;
    color:#369;
    padding : 1px;
}

.setting-menu-list:hover{
	color : pink;
}


.setting-menu-dot{
	width : 10px;
	height : auto;
}

/* 좌측라인  */
.set-on {
	font-weight: bold;
	color: orange;	
}

.setting-folder-group{
	font-size: 12px;
	max-height: 282px;
	min-height: 281.9px;
}

.setting-profile-username{
	flex: 1;
  color: #0f1b5c;
	height: 20px;
}

/*좌측 리스트 */
.tree,
.tree ul {
  margin:0 0 0 1em;
  padding:0;
  list-style:none;
  position:relative;
}

.tree ul {
	margin-left:.5em;
} 

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}

.tree li {
  margin:0;
  padding:0 1.5em;
  line-height:2em;
  position:relative;
  cursor: pointer;
}
.tree li:hover{
	color : pink;
}

.tree li:before {
  content:"";
  display:block;
  width:10px;
  height:0;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0;
}

.tree li:last-child:before {
  background:white;
  height:auto;
  top:1em;
  bottom:0;
}

.setting-menuTitle {
	font-size : 17px;
	font-weight : bold;
	margin : 10px;
}

.divForTable {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.setting-myMinimi {
	width: 100%;
	height: 160px;
}

.setting-myMinimi-view {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.set-mnm-circle-frame {
	display: flex;
	width: 120px;
	height: 120px;
	background-color: ivory;
	padding: 15px;
	border: 3px dotted orange;
	border-radius: 50%;
	justify-content: center;
    align-items: center;
}

.settting-myMinimi-circle{
	width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.setting-myMinimi-Edit {
	margin-top: 10px;
	text-align: right;
}

.setting-myMinimi-change {
	color: orange;
	font-size: 12px;
	border: none;
}

.setting-myMinimi-change:hover {
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}

.setting-table-profile {
  border-collapse: collapse;
  border-radius : 10px;
  border-style : hidden;
  box-shadow : 0 0 0 1px #000;
  width: 100%;
  font-size : 13px;
  margin-bottom : 20px;
}

.setting-table-profile td, th {
  border: 1px solid #dddddd;
  padding: 7px;
}

.setting-table-profile th {
  background-color: #ffcc66;
  text-align : left;
  width : 30%;
  border-top-left-radius : 10px;
  border-top-right-radius : 10px;
  
}

.setting-infoIcon{
	padding : 8px;
}

.setting-infoRow{
	text-align: right;
}

.setting-btn-right{
	 margin-left: auto;
}
.setting-row-container{
	 display: flex;
     justify-content: flex-end;
     align-items: center; 
}

.setting-btnModify{
	border : 1px solid darkgrey;
	border-radius : 4px;
	color :#999999;
}

/*************bgm********************/

.setting-bgm-frame input[type="checkbox"] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.setting-bgm-search-group {
	width: 300px;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 10px;
	border: 2px solid orange;
	display: flex;
	align-items: center;
	/* margin-left : auto; */
}

.setting-bgm-search-input {
	font-size: 16px;
	font-weight: bold;
	width: 250px;
	height: 90%;
	border: none;
	outline: none;
}

.setting-bgm-search-input::placeholder {
    font-size: 14px;
}

.setting-bgm-order-select{
	margin-bottom : 10px;
	/* display : flex;
	justify-content: flex-end;
	margin-left : auto; */
}

.setting-bgm-search-btn {
    width: 20px; 
    height: 20px;
    background-image: url('/resources/images/store/searchIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
     margin-left: 15px;
}

.setting-bgm-search-btn:hover {
	cursor: pointer; 
}

.setting-bgm-list-group {
	border-top: 1px solid #ff9933;
	border-bottom: 2px solid #ff9933;
	height: 50px;
	font-weight: bold;
	font-size : 14px;
}

.setting-bgm-grid {
	width: 98%;
	display: grid;
    grid-template-columns: 10% 10% 30% 30% 20%;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: 40px;
}

.setting-bgm-list {
	border-bottom: 1px solid #ff9933;
	font-size : 12px;
}

.setting-bgm-list:hover {
	cursor: pointer;
	background-color: #ffcc99;
}

.setting-bgm-list-delete
,.setting-bgm-list-add{
	margin-top : 10px;
}

.setting-bgm-myList{
	margin-top : 20px;
}

#setting-divDivideLine{
	width : 100%;
	border-top : 1px solid darkgrey;
	margin-top : 20px;
}

/* setting.jsp */
.set-line {
	display: flex;
	justify-content: center;
  	align-items: center;
}

.set-info-group {
	width: 100%;
	height: 180px;
	margin-top: 5px;
	display: flex;
 	justify-content: center;
  	align-items: center;
}

.set-info {
	width: 100%;
	height: 170px;
	border: 2px solid orange;
	border-radius: 10px;
	cursor:pointer;
}

.set-info-title {
	font-weight: bold;
	font-size: 16px;
	background-color: orange;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-align: center;
}

.set-info-db {
	display: flex;
	flex-direction: column;
}

.set-info-db span{
	margin-right: 15px;
}

.set-info-name,
.set-info-Nickname,
.set-info-phone,
.set-info-date {
	padding: 5px 0;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.set-info-name,
.set-info-Nickname,
.set-info-phone{
	border-bottom: 1px dotted orange;
}

.set-info-name-left,
.set-info-Nickname-left,
.set-info-phone-left,
.set-info-date-left{
	font-weight: bold;
	color: gray;
	text-align: left;
	padding-left: 20px;
	width: 30%;
}

.textInfo{
	width: 55%;
	height:20px;
	font-size: 12px;
	resize: none;
	overflow-y:hidden;
	font-weight: bold;
	border: none;
	outline:none;
}

.set-info-name-right,
.set-info-Nickname-right,
.set-info-phone-right,
.set-info-date-right {
  width: 55%;
  font-size: 14px;
}

.set-info-name-a,
.set-info-Nickname-a,
.set-info-phone-a,
.set-info-date-a {
	width: 15%;
}


